
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f6fa;
  color: #333;
  
}


.upper-main {
  height: 20vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.upper-main .wh-logo {
  position: absolute;
  bottom: -30%;       
  left: 50%;           
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  
}


.lower-main {
  height: 80vh;
  background-color: #4A55A2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.customer-name {
 
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  
}

.lower-main .menu {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px ;
  gap: 40px;
}


.lower-main .menu a {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #272944;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.logout {
  color: white;
  padding-top: 50px;
  
}
.lower-main .menu a:hover {
  background-color: #FFD369;
  color: #272944;
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}
