/* โค้ด CSS สำหรับหน้าจอทั่วไป (มากกว่า 600px) */
body {
    background-color: white;
    font-size: 16px;
}

/* Media Query สำหรับหน้าจอขนาดเล็ก (600px หรือน้อยกว่า) */
@media screen and (max-width: 600px) {
    body {
        background-color: lightcoral; /* เปลี่ยนสีพื้นหลังสำหรับหน้าจอมือถือ */
    }

    h1 {
        font-size: 24px; /* ปรับขนาดฟอนต์ให้ใหญ่ขึ้น */
    }
}

.container {
    display: flex;
    flex-wrap: wrap; /* ให้ items ขึ้นบรรทัดใหม่ได้ */
}

.item {
    width: 30%;
    margin: 10px;
}

/* เมื่อหน้าจอเล็กกว่า 768px ให้เปลี่ยนจาก 3 คอลัมน์ เป็น 1 คอลัมน์ */
@media screen and (max-width: 768px) {
    .item {
        width: 100%; /* ทำให้ item กินพื้นที่เต็ม 100% */
    }
}




.logo_blue {
    width: 200px;
} 

.edit_pass {
    width: 100px;
    margin-top: 150px;
    margin-left: 650px;
}

/* dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
    margin-right: 100px;
}